<div>
	<h1>
		<span style="color:blue">Friendly</span><span style="color:red">Earthquakes!</span>
	</h1>
	<table>
		<tr>
			<th>Earthquake</th>
			<th>Friends in danger</th>
		</tr>
    {% for response in response_list %}
		<tr>
			<td class="eq">
				{{ response[0].title }}
			</td>
			<td class="friends">
                {% for friend in response[1] %}
                  <img class="friend-pic" src="{{ friend.pic_url }}"/>
                {% endfor %}
			</td>
		</tr>
    {% endfor %}
	</table>
</div>